<div class="row m-0">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 add-product-card">
    
    <div class="card mt-4 box-shadow">
      <div class="card-body">
      	<h3 class="text-center" i18n="Contact Us Header|demo@@AdminContactUsHeader">Contact Us</h3>

          <div class="row m-0">
            <div class="col-md-12">
              <div class="form-group">
                <label for="product_name" class="col-form-label" i18n="Contact Us Email|demo@@AdminContactUsEmail">Email</label>
                <input [(ngModel)]="email" type="text" class="form-control" id="product_name" placeholder="Enter email here..">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="description" class="col-form-label" i18n="Contact Us Message|demo@@AdminContactUsMessage">Message</label>
                <textarea [(ngModel)]="message" class="form-control" id="description" rows="3" placeholder="Enter message here.."></textarea>
              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-12 add-button">
              <button type="submit" class="btn btn-primary" (click)="sumbitForm()" i18n="Contact Us Submit|demo@@AdminContactUsSubmit">Submit</button>
            </div>
          </div>
        <!-- </form> -->
      </div>
    </div>

  </div>
  <div class="col-md-2">
  </div>
</div>

