<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    
    <div class="card mt-4 box-shadow">
      <div class="card-body">
      	<h3 class="text-center" i18n="Admin Login Header|demo@@AdminLoginHeader">Admin Login</h3>
        <!-- <form> -->
          <div class="form-group">
            <label for="username" class="col-form-label" i18n="Admin Login Username|demo@@AdminLoginUsername">Username</label>
              <input [(ngModel)]="username" type="text" class="form-control" id="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label" i18n="Admin Login Password|demo@@AdminLoginPassword">Password</label>
              <input [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary mb-2" (click)="login()" i18n="Admin Login Button|demo@@AdminLoginButton">Login</button>
          <br><span (click)="navigateToPage('/login')" class="float-right cart-text" style="font-size: 14px;text-decoration: underline;cursor: pointer;" i18n="Admin Login Button2|demo@@AdminLoginButton2">Not an admin? Try user login..</span>
          <br><span (click)="navigateToPage('/register')" class="float-right cart-text" style="font-size: 14px;text-decoration: underline;cursor: pointer;" i18n="Admin Login Button3|demo@@AdminLoginButton3">Or register as user..</span>
        <!-- </form> -->
      </div>
    </div>

  </div>
  <div class="col-md-4">
  </div>
</div>

